<div class="container">
  <h1>Welcome to Random Beers!</h1>
  <hr>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <input type="text" placeholder="username" ng-model="registerUsername"><br>
      <input type="password" placeholder="password" ng-model="registerPassword"><br>
      <button class="btn btn-primary" ng-click="register()">Register</button>
    </div>
    <div class="col-xs-12 col-sm-6">
      <input type="text" placeholder="username" ng-model="loginUsername"><br>
      <input type="password" placeholder="password" ng-model="loginPassword"><br>
      <button class="btn btn-primary">Login</button>
    </div>
  </div>
</div>